.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1101;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;

  &.inactive-modal {
    transition: height 0s 0.3s, opacity 0.3s;
    height: 0;
    opacity: 0;
  }

  .modal-body {
    background-color: white;
    padding: 15px;
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    text-align: left;

    .title {
      margin: 0;
      padding-bottom: 20px;
    }

    .btns-wrapper {
      text-align: right;
      padding-top: 20px;
    }
  }
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}